/*! normalize.css v4.0.0 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
/* line 8, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers (opinionated).
 */
/* line 18, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
/* line 31, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}

/**
 * Add the correct display in IE 9-.
 */
/* line 50, ../sass/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
}

/**
 * Add the correct display in iOS 4-7.
 */
/* line 61, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
/* line 70, ../sass/_normalize.scss */
progress {
  vertical-align: baseline;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
/* line 79, ../sass/_normalize.scss */
template,
[hidden] {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
/* line 91, ../sass/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
/* line 100, ../sass/_normalize.scss */
a:active,
a:hover {
  outline-width: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
/* line 113, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
/* line 123, ../sass/_normalize.scss */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
/* line 132, ../sass/_normalize.scss */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
/* line 141, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
/* line 150, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct background and color in IE 9-.
 */
/* line 159, ../sass/_normalize.scss */
mark {
  background-color: #ff0;
  color: #000;
}

/**
 * Add the correct font size in all browsers.
 */
/* line 168, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
/* line 177, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 185, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 189, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
/* line 200, ../sass/_normalize.scss */
img {
  border-style: none;
}

/**
 * Hide the overflow in IE.
 */
/* line 208, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
/* line 220, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
/* line 232, ../sass/_normalize.scss */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
/* line 241, ../sass/_normalize.scss */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* Forms
   ========================================================================== */
/**
 * Change font properties to `inherit` in all browsers (opinionated).
 */
/* line 254, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font: inherit;
}

/**
 * Restore the font weight unset by the previous rule.
 */
/* line 265, ../sass/_normalize.scss */
optgroup {
  font-weight: bold;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
/* line 275, ../sass/_normalize.scss */
button,
input,
select {
  /* 2 */
  overflow: visible;
}

/**
 * Remove the margin in Safari.
 * 1. Remove the margin in Firefox and Safari.
 */
/* line 286, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  /* 1 */
  margin: 0;
}

/**
 * Remove the inheritence of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritence of text transform in Firefox.
 */
/* line 298, ../sass/_normalize.scss */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Change the cursor in all browsers (opinionated).
 */
/* line 307, ../sass/_normalize.scss */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

/**
 * Restore the default cursor to disabled elements unset by the previous rule.
 */
/* line 318, ../sass/_normalize.scss */
[disabled] {
  cursor: default;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS.
 */
/* line 328, ../sass/_normalize.scss */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
/* line 339, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
/* line 349, ../sass/_normalize.scss */
button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
/* line 358, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
/* line 371, ../sass/_normalize.scss */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
/* line 384, ../sass/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
/* line 393, ../sass/_normalize.scss */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
/* line 403, ../sass/_normalize.scss */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
/* line 412, ../sass/_normalize.scss */
[type="search"] {
  -webkit-appearance: textfield;
}

/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
/* line 421, ../sass/_normalize.scss */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*---------------GRID-----------------*/
/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column1 {
  width: 100%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column2 {
  width: 50%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column3 {
  width: 33.33333%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column4 {
  width: 25%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column5 {
  width: 20%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column6 {
  width: 16.66667%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column7 {
  width: 14.28571%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column8 {
  width: 12.5%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column9 {
  width: 11.11111%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column10 {
  width: 10%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column11 {
  width: 9.09091%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column12 {
  width: 8.33333%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column13 {
  width: 7.69231%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column14 {
  width: 7.14286%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column15 {
  width: 6.66667%;
}

/* line 13, ../sass/_mainstyle.scss */
.grd-fill-column16 {
  width: 6.25%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column1 {
  width: 6.25%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column2 {
  width: 12.5%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column3 {
  width: 18.75%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column4 {
  width: 25%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column5 {
  width: 31.25%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column6 {
  width: 37.5%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column7 {
  width: 43.75%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column8 {
  width: 50%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column9 {
  width: 56.25%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column10 {
  width: 62.5%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column11 {
  width: 68.75%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column12 {
  width: 75%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column13 {
  width: 81.25%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column14 {
  width: 87.5%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column15 {
  width: 93.75%;
}

/* line 20, ../sass/_mainstyle.scss */
.grd-step-column16 {
  width: 100%;
}

/* line 25, ../sass/_mainstyle.scss */
.grd-row {
  font-size: 0;
}

/* line 29, ../sass/_mainstyle.scss */
[class*="grd-step-column"] {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  padding: 0 5px;
}

/*fixes pointers justifier tools*/
/* line 39, ../sass/_mainstyle.scss */
* {
  box-sizing: border-box;
}

/* line 43, ../sass/_mainstyle.scss */
*:before,
*:after {
  box-sizing: inherit;
}

/* line 48, ../sass/_mainstyle.scss */
.pointer {
  cursor: pointer;
}

/* line 52, ../sass/_mainstyle.scss */
.f-left {
  float: left;
}

/* line 56, ../sass/_mainstyle.scss */
.f-right {
  float: right;
}

/* line 60, ../sass/_mainstyle.scss */
.clearfix {
  clear: both;
}

/* line 64, ../sass/_mainstyle.scss */
.m-justifier {
  text-align: justify;
}

/* line 68, ../sass/_mainstyle.scss */
.stretch {
  width: 100%;
  display: inline-block;
}

/* line 73, ../sass/_mainstyle.scss */
.img-mod {
  transition: all .25s ease-in-out;
  width: 100%;
}
/* line 76, ../sass/_mainstyle.scss */
.img-mod:hover {
  transform: scale(1.03, 1.03);
  -webkit-transform: scale(1.03, 1.03);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
}

/*----------------------------------------*/
/* line 86, ../sass/_mainstyle.scss */
body {
  background: url("../img/bck.png") repeat;
  background-attachment: fixed;
}

/* line 91, ../sass/_mainstyle.scss */
h2 {
  padding-top: 20px;
  padding-bottom: 15px;
  font-size: 30px;
  margin: 0 0 15px 0;
  text-align: center;
  width: 100%;
}

/* line 100, ../sass/_mainstyle.scss */
p {
  margin: 0;
  line-height: 25px;
}

/* line 105, ../sass/_mainstyle.scss */
.wrapper {
  max-width: 900px;
  margin: 0 auto;
  box-shadow: 5px 0px 30px black;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}

/* line 115, ../sass/_mainstyle.scss */
.promo {
  padding: 10px 40px 20px 40px;
}

/*----------------------------------HEADER----------------------------*/
/* line 122, ../sass/_mainstyle.scss */
header {
  background: #2e2e2e;
  position: relative;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
/* line 129, ../sass/_mainstyle.scss */
header .logo {
  position: absolute;
  top: 12px;
  left: 50px;
  background: #7d7d7d;
  height: 75px;
  width: 165px;
  line-height: 70px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 5px 5px 10px black;
}
/* line 140, ../sass/_mainstyle.scss */
header .logo img {
  width: 150px;
  vertical-align: middle;
}
/* line 145, ../sass/_mainstyle.scss */
header .anchors_header {
  text-align: right;
  font-size: 0px;
}
/* line 148, ../sass/_mainstyle.scss */
header .anchors_header a {
  font-size: 16px;
  display: inline-block;
  color: #e2e2e2;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  transition: background-color .2s ease-in-out;
}
/* line 157, ../sass/_mainstyle.scss */
header .anchors_header a:hover {
  background: #4c4c4c;
}

/*----------------------------------HEADER2---------------------------*/
/* line 167, ../sass/_mainstyle.scss */
.header2 {
  padding-top: 50px;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  padding-top: 20px;
  background: #363636;
}
/* line 174, ../sass/_mainstyle.scss */
.header2 .header2_text {
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
  flex-grow: 1;
  min-width: 300px;
  padding: 30px 10px 10px 10px;
  color: #e2e2e2;
  text-transform: uppercase;
  font-size: 18px;
}
/* line 183, ../sass/_mainstyle.scss */
.header2 .header2_text p {
  margin: 10px 0;
}
/* line 187, ../sass/_mainstyle.scss */
.header2 .header2_img {
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
  min-width: 50%;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 80%;
}

/*---------------------------------SLIDER----------------------------*/
/* line 200, ../sass/_mainstyle.scss */
.slider {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background: #e2e2e2;
  color: #363636;
  text-align: center;
}
/* line 208, ../sass/_mainstyle.scss */
.slider .slider_container {
  display: flex;
  display: -webkit-flex;
  border-top: 2px solid #363636;
  padding-top: 15px;
  margin-top: 15px;
}
/* line 214, ../sass/_mainstyle.scss */
.slider .slider_container .arrow {
  margin: auto;
  flex-basis: 4%;
  -webkit-flex-basis: 4%;
  display: block;
  transition: all .25s ease-in-out;
  text-decoration: none;
  text-align: center;
}
/* line 225, ../sass/_mainstyle.scss */
.slider .slider_container .arrow:nth-child(1) {
  order: 1;
  -webkit-order: 1;
}
/* line 229, ../sass/_mainstyle.scss */
.slider .slider_container .arrow:nth-child(2) {
  order: 3;
  -webkit-order: 3;
}
/* line 233, ../sass/_mainstyle.scss */
.slider .slider_container .arrow img {
  width: 100%;
  max-width: 25px;
}
/* line 236, ../sass/_mainstyle.scss */
.slider .slider_container .arrow img:hover {
  transform: scale(1.05, 1.05);
  -webkit-transform: scale(1.05, 1.05);
}
/* line 242, ../sass/_mainstyle.scss */
.slider .slider_container .slide {
  flex-basis: 94%;
  -webkit-flex-basis: 94%;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  order: 2;
  -webkit-order: 2;
  display: inline-block;
}
/* line 251, ../sass/_mainstyle.scss */
.slider .slider_container .slide .item {
  min-width: 140px;
  width: 20%;
  text-decoration: none;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: 5px;
}
/* line 259, ../sass/_mainstyle.scss */
.slider .slider_container .slide .item img {
  border-radius: 5px;
  border: 1px solid lightgray;
}
/* line 263, ../sass/_mainstyle.scss */
.slider .slider_container .slide .item figcaption {
  color: #363636;
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
  text-transform: uppercase;
}
/* line 273, ../sass/_mainstyle.scss */
.slider .pagination {
  text-align: center;
  cursor: default;
}
/* line 276, ../sass/_mainstyle.scss */
.slider .pagination .item {
  display: inline-block;
  background: url("../img/sprite21.png") no-repeat -129px -241px;
  width: 15px;
  height: 15px;
  margin-top: 5px;
}
/* line 282, ../sass/_mainstyle.scss */
.slider .pagination .item.active {
  background: url("../img/sprite21.png") no-repeat 0px 0px;
}
/* line 284, ../sass/_mainstyle.scss */
.slider .pagination .item.active:hover {
  transform: none;
  -webkit-transform: none;
  cursor: default;
}
/* line 290, ../sass/_mainstyle.scss */
.slider .pagination .item:hover {
  transform: scale(1.15, 1.15);
  -webkit-transform: scale(1.15, 1.15);
}

/*--------------------------------CATALOG-----------------------------*/
/* line 301, ../sass/_mainstyle.scss */
.catalog {
  background: #363636;
  color: #e2e2e2;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
}
/* line 308, ../sass/_mainstyle.scss */
.catalog .table_container {
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
/* line 313, ../sass/_mainstyle.scss */
.catalog .catalog_image {
  flex-basis: 40%;
  -webkit-flex-basis: 40%;
  margin: 5px;
}
/* line 318, ../sass/_mainstyle.scss */
.catalog .catalog_table {
  flex-basis: 60%;
  -webkit-flex-basis: 60%;
  margin: 5px;
  flex-grow: 1;
  -webkit-flex-grow: 1;
}
/* line 325, ../sass/_mainstyle.scss */
.catalog .catalog_table tr:nth-child(2n) td {
  background-color: #585858;
}
/* line 329, ../sass/_mainstyle.scss */
.catalog .catalog_table td {
  width: 20px;
  text-align: center;
  background: #4b4b4b;
  font-size: 14px;
  padding: 7px;
  text-shadow: 2px 2px 3px black;
}
/* line 336, ../sass/_mainstyle.scss */
.catalog .catalog_table td:first-child {
  text-align: left;
  width: 92%;
}
/* line 340, ../sass/_mainstyle.scss */
.catalog .catalog_table td.hover:hover {
  background-color: #7e7e7e;
  transition: background-color .2s ease-in-out;
}
/* line 345, ../sass/_mainstyle.scss */
.catalog .catalog_table .plus {
  color: #00ff00;
  font-weight: bold;
  font-size: 16px;
  width: 4%;
}
/* line 351, ../sass/_mainstyle.scss */
.catalog .catalog_table .minus {
  color: red;
  font-weight: bold;
  font-size: 16px;
  width: 4%;
}
/* line 357, ../sass/_mainstyle.scss */
.catalog .catalog_table .inactive {
  color: #828282;
  cursor: default;
}
/* line 363, ../sass/_mainstyle.scss */
.catalog .table_pages span {
  display: inline-block;
  text-align: left;
  background: #4b4b4b;
  font-size: 14px;
  color: #e2e2e2;
  text-decoration: none;
  padding: 10px;
  margin: 2px;
  margin-top: 5px;
}
/* line 373, ../sass/_mainstyle.scss */
.catalog .table_pages span:hover {
  background-color: #7e7e7e;
  transition: background-color .2s ease-in-out;
}
/* line 378, ../sass/_mainstyle.scss */
.catalog .table_pages .active {
  background: #8b8b8b;
  cursor: default;
}
/* line 381, ../sass/_mainstyle.scss */
.catalog .table_pages .active:hover {
  background-color: #8b8b8b;
}

/*---------------------------------INFO-------------------------------*/
/* line 391, ../sass/_mainstyle.scss */
.info {
  background: #e2e2e2;
  color: #363636;
  text-align: justify;
}
/* line 395, ../sass/_mainstyle.scss */
.info .leftimg {
  margin: 0 10px 0 0;
  width: 150px;
}
/* line 399, ../sass/_mainstyle.scss */
.info .rightimg {
  margin: 10px 0 0 10px;
  width: 200px;
  position: relative;
}
/* line 403, ../sass/_mainstyle.scss */
.info .rightimg .bigpic {
  width: 200px;
}
/* line 405, ../sass/_mainstyle.scss */
.info .rightimg .bigpic:hover {
  transform: scale(1.9, 1.9) translate(-48px, 0px);
  -webkit-transform: scale(1.9, 1.9) translate(-48px, 0px);
  box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
}
/* line 411, ../sass/_mainstyle.scss */
.info .rightimg .pics {
  margin-top: 5px;
  line-height: 0;
}
/* line 414, ../sass/_mainstyle.scss */
.info .rightimg .pics .pic1,
.info .rightimg .pics .pic2,
.info .rightimg .pics .pic3 {
  display: inline-block;
  width: 60px;
}
/* line 419, ../sass/_mainstyle.scss */
.info .rightimg .pics .pic1 img,
.info .rightimg .pics .pic2 img,
.info .rightimg .pics .pic3 img {
  width: 60px;
}
/* line 421, ../sass/_mainstyle.scss */
.info .rightimg .pics .pic1 img:hover,
.info .rightimg .pics .pic2 img:hover,
.info .rightimg .pics .pic3 img:hover {
  box-shadow: 2px 2px 2px 0 black;
}
/* line 424, ../sass/_mainstyle.scss */
.info .rightimg .pics .pic1 img:active,
.info .rightimg .pics .pic2 img:active,
.info .rightimg .pics .pic3 img:active {
  transform: translate(2px, 2px);
  -webkit-transform: translate(2px, 2px);
  box-shadow: none;
}

/*--------------------------------CONTACT-----------------------------*/
/* line 438, ../sass/_mainstyle.scss */
.contact {
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  background: #363636;
  color: #e2e2e2;
  padding-bottom: 40px;
}
/* line 446, ../sass/_mainstyle.scss */
.contact .flex_container {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
/* line 452, ../sass/_mainstyle.scss */
.contact .contact_form {
  -webkit-flex-basis: 55%;
  flex-basis: 55%;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  background: #4b4b4b;
  font-size: 14px;
  padding: 5px 5px 10px 7px;
  box-shadow: 2px 2px 5px black;
  border-radius: 5px;
  margin: 0 10px 10px 0;
}
/* line 464, ../sass/_mainstyle.scss */
.contact .contact_form .form_container fieldset {
  border: 2px solid #e2e2e2;
  border-radius: 5px;
}
/* line 468, ../sass/_mainstyle.scss */
.contact .contact_form .form_container p {
  margin: 5px 0;
}
/* line 471, ../sass/_mainstyle.scss */
.contact .contact_form .form_container h3 {
  margin: 0;
}
/* line 474, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .name {
  border-top: 2px solid #e2e2e2;
  padding: 5px 0 0 0;
}
/* line 478, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .email {
  border-bottom: 2px solid #e2e2e2;
  padding: 5px 0;
}
/* line 482, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .topic {
  margin: 5px 0 2px 0;
  border: none;
}
/* line 486, ../sass/_mainstyle.scss */
.contact .contact_form .form_container textarea {
  margin-bottom: 5px;
  resize: none;
}
/* line 490, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .captcha {
  text-align: center;
  border-top: 2px solid #e2e2e2;
  padding-left: 5px;
}
/* line 494, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .captcha label {
  letter-spacing: 5px;
  font-weight: bold;
}
/* line 499, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .buttons_container {
  text-align: center;
}
/* line 501, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .buttons_container input[type="submit"],
.contact .contact_form .form_container .buttons_container input[type="reset"] {
  margin: 10px 0 0 5px;
  display: inline-block;
  width: 100px;
  border: none;
  background-color: #d5d5d5;
  box-shadow: 2px 2px 0 0 black;
  height: 20px;
  outline: none;
  transition: background-color .25s ease-in-out;
}
/* line 512, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .buttons_container input[type="submit"]:hover,
.contact .contact_form .form_container .buttons_container input[type="reset"]:hover {
  background-color: #eaeaea;
}
/* line 515, ../sass/_mainstyle.scss */
.contact .contact_form .form_container .buttons_container input[type="submit"]:active,
.contact .contact_form .form_container .buttons_container input[type="reset"]:active {
  transform: translate(2px, 2px);
  -webkit-transform: translate(2px, 2px);
  box-shadow: none;
}
/* line 524, ../sass/_mainstyle.scss */
.contact .map {
  height: 300px;
  min-width: 300px;
  color: black;
  margin: auto;
}
/* line 529, ../sass/_mainstyle.scss */
.contact .map .gmnoprint {
  display: none;
}

/*-------------------------------FOOTER-----------------------------*/
/* line 538, ../sass/_mainstyle.scss */
footer {
  background: #e2e2e2;
  color: #363636;
  padding-left: 40px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
}
/* line 545, ../sass/_mainstyle.scss */
footer .anchors_footer {
  flex-grow: 1;
  flex-basis: 80%;
  -webkit-flex-basis: 80%;
  font-size: 0px;
  text-align: right;
  padding: 0px;
}
/* line 552, ../sass/_mainstyle.scss */
footer .anchors_footer a {
  font-size: 16px;
  display: inline-block;
  color: #363636;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 20px;
  transition: background-color .2s ease-in-out, color .2s ease-in-out;
}
/* line 562, ../sass/_mainstyle.scss */
footer .anchors_footer a:hover {
  background: #4c4c4c;
  color: #e2e2e2;
}
/* line 568, ../sass/_mainstyle.scss */
footer .social {
  margin-top: 3px;
  flex-basis: 20%;
  -webkit-flex-basis: 20%;
}
/* line 572, ../sass/_mainstyle.scss */
footer .social a {
  display: inline-block;
  width: 50px;
  height: 51px;
}

/* line 584, ../sass/_mainstyle.scss */
.facebook {
  background: url("../img/social.png") 0px 0px no-repeat;
}
/* line 586, ../sass/_mainstyle.scss */
.facebook:hover {
  background: url("../img/social.png") 0px -50px no-repeat;
}

/* line 584, ../sass/_mainstyle.scss */
.twitter {
  background: url("../img/social.png") -50px 0px no-repeat;
}
/* line 586, ../sass/_mainstyle.scss */
.twitter:hover {
  background: url("../img/social.png") -50px -50px no-repeat;
}

/* line 584, ../sass/_mainstyle.scss */
.google {
  background: url("../img/social.png") -100px 0px no-repeat;
}
/* line 586, ../sass/_mainstyle.scss */
.google:hover {
  background: url("../img/social.png") -100px -50px no-repeat;
}

/*-----------------------------ADMIN PANEL---------------------------*/
/* line 596, ../sass/_mainstyle.scss */
.panel {
  position: fixed;
  top: 50%;
  width: 40px;
  height: 200px;
  background: #001fa7;
  margin-top: -100px;
  left: 0px;
  opacity: 0.97;
  transition-duration: 0.5s;
}
/* line 606, ../sass/_mainstyle.scss */
.panel:hover {
  left: 400px;
}
/* line 609, ../sass/_mainstyle.scss */
.panel .panel-label {
  position: absolute;
  width: 200px;
  height: 40px;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  left: -80px;
  top: 80px;
  vertical-align: middle;
  line-height: 40px;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  cursor: default;
  word-spacing: 5px;
}
/* line 627, ../sass/_mainstyle.scss */
.panel .admin_Content {
  height: 400px;
  width: 400px;
  background: url("../img/bck.png") repeat;
  position: absolute;
  right: 40px;
  margin-top: -100px;
  box-shadow: 0px 0px 20px black;
}
/* line 635, ../sass/_mainstyle.scss */
.panel .admin_Content .discount_form {
  margin: 10px;
}
/* line 637, ../sass/_mainstyle.scss */
.panel .admin_Content .discount_form legend {
  color: white;
  font-weight: bold;
}
/* line 642, ../sass/_mainstyle.scss */
.panel .admin_Content .discount_form .dmy .date {
  width: 100px;
  display: inline-block;
}
/* line 647, ../sass/_mainstyle.scss */
.panel .admin_Content .discount_form .adm_button {
  width: 100%;
}

/*--------------------------------OVERLAY------------------------------*/
/* line 657, ../sass/_mainstyle.scss */
.overlay {
  display: none;
  /**/
  background: url("../img/overlay.png");
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  text-align: justify;
  color: #363636;
}
/* line 668, ../sass/_mainstyle.scss */
.overlay .leftimg {
  margin: 0 5px 0 0;
  width: 300px;
}
/* line 672, ../sass/_mainstyle.scss */
.overlay dialog {
  display: block;
  background: white;
  width: 800px;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  position: fixed;
  padding: 25px;
}
/* line 682, ../sass/_mainstyle.scss */
.overlay dialog .cross {
  position: absolute;
  right: 0;
  top: 0;
  outline: 1px solid black;
}
/* line 689, ../sass/_mainstyle.scss */
.overlay .discount-container {
  margin-top: 20px;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  flex-wrap: wrap;
}
/* line 695, ../sass/_mainstyle.scss */
.overlay .discount-container .some_list {
  flex-basis: 25%;
  -webkit-flex-basis: 25%;
  margin-bottom: 10px;
}
/* line 699, ../sass/_mainstyle.scss */
.overlay .discount-container .some_list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  white-space: nowrap;
}
/* line 705, ../sass/_mainstyle.scss */
.overlay .discount-container .some_list input[type="radio"] {
  margin: 0 10px;
}
/* line 709, ../sass/_mainstyle.scss */
.overlay .discount-container .price {
  flex-basis: 25%;
  -webkit-flex-basis: 25%;
  display: flex;
  display: -webkit-flex;
  text-align: center;
  vertical-align: middle;
  background: #e2e2e2;
  border: 1px dotted black;
  text-transform: uppercase;
  margin-bottom: 10px;
  flex-grow: 1;
}
/* line 721, ../sass/_mainstyle.scss */
.overlay .discount-container .price span {
  margin: auto;
}
/* line 725, ../sass/_mainstyle.scss */
.overlay .discount-container .timer {
  flex-basis: 50%;
  -webkit-flex-basis: 50%;
  display: flex;
  display: -webkit-flex;
  margin: auto;
  justify-content: center;
  -webkit-justify-content: center;
}
/* line 733, ../sass/_mainstyle.scss */
.overlay .discount-container .timer span {
  font-size: 33px;
  line-height: 33px;
  display: inline-block;
  position: relative;
}
/* line 739, ../sass/_mainstyle.scss */
.overlay .discount-container .timer .semicolon {
  width: 2%;
  padding: 0;
  margin: 5px 0;
  vertical-align: top;
}
/* line 745, ../sass/_mainstyle.scss */
.overlay .discount-container .timer .countdown {
  display: inline-block;
  text-align: center;
  width: 80px;
}
/* line 749, ../sass/_mainstyle.scss */
.overlay .discount-container .timer .countdown .countdownLabel {
  font-size: 12px;
  line-height: 12px;
}
/* line 753, ../sass/_mainstyle.scss */
.overlay .discount-container .timer .countdown .numbers {
  border: 3px outset lightgray;
  border-radius: 4px;
  padding: 5px;
  box-shadow: inset 0px 0px 10px 1px;
}
/* line 758, ../sass/_mainstyle.scss */
.overlay .discount-container .timer .countdown .numbers:before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  top: 50%;
  height: 2px;
  background: rgba(255, 255, 255, 0.8);
}

/*--------------------------------go top------------------------------*/
/* line 775, ../sass/_mainstyle.scss */
.gotop {
  width: 35px;
  height: 35px;
  color: rgba(255, 255, 255, 0.5);
  background-color: rgba(0, 0, 0, 0.5);
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 20px;
  line-height: 35px;
  font-size: 14px;
  cursor: pointer;
  display: none;
}
/* line 788, ../sass/_mainstyle.scss */
.gotop:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/*--------------------------------MEDIA 768px------------------------------*/
@media screen and (max-width: 768px) {
  /* line 797, ../sass/_mainstyle.scss */
  .wrapper .promo {
    padding: 10px;
  }
  /* line 800, ../sass/_mainstyle.scss */
  .wrapper header {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  /* line 802, ../sass/_mainstyle.scss */
  .wrapper header .logo {
    position: static;
    display: block;
    width: 100%;
    box-shadow: none;
    border-radius: 0px;
    line-height: 60px;
    height: auto;
  }
  /* line 810, ../sass/_mainstyle.scss */
  .wrapper header .logo img {
    width: 130px;
  }
  /* line 814, ../sass/_mainstyle.scss */
  .wrapper header .anchors_header {
    display: flex;
    display: -webkit-flex;
  }
  /* line 819, ../sass/_mainstyle.scss */
  .wrapper header .anchors_header a {
    font-size: 12px;
    padding: 15px 7px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    text-align: center;
  }
  /* line 828, ../sass/_mainstyle.scss */
  .wrapper .header2 {
    padding: 5px;
    -webkit-flex-wrap: wrap;
  }
  /* line 831, ../sass/_mainstyle.scss */
  .wrapper .header2 .header2_text {
    -webkit-flex: 1 0 auto;
    padding: 5px;
    margin: 0;
    font-size: 14px;
    max-width: 100%;
  }
  /* line 839, ../sass/_mainstyle.scss */
  .wrapper .header2 .header2_img {
    padding: 5px;
    min-width: 300px;
  }
  /* line 847, ../sass/_mainstyle.scss */
  .wrapper .slider .slider_container .arrow:nth-child(1) {
    -webkit-flex-basis: 25%;
    text-align: right;
  }
  /* line 851, ../sass/_mainstyle.scss */
  .wrapper .slider .slider_container .arrow:nth-child(2) {
    -webkit-flex-basis: 25%;
    text-align: left;
  }
  /* line 856, ../sass/_mainstyle.scss */
  .wrapper .slider .slider_container .slide {
    flex-basis: 0;
  }
  /* line 859, ../sass/_mainstyle.scss */
  .wrapper .slider .slider_container .slide .item {
    min-width: 160px;
  }
  /* line 862, ../sass/_mainstyle.scss */
  .wrapper .slider .slider_container .slide .item:nth-child(2),
  .wrapper .slider .slider_container .slide .item:nth-child(3),
  .wrapper .slider .slider_container .slide .item:nth-child(4) {
    display: none;
  }
  /* line 869, ../sass/_mainstyle.scss */
  .wrapper .slider .pagination {
    display: none;
  }
  /* line 874, ../sass/_mainstyle.scss */
  .wrapper .catalog .catalog_image {
    display: none;
  }
  /* line 879, ../sass/_mainstyle.scss */
  .wrapper .contact .map {
    max-width: 80%;
    flex-grow: 1;
    -webkit-flex-grow: 1;
  }
  /* line 885, ../sass/_mainstyle.scss */
  .wrapper footer {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 0;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
  }
  /* line 890, ../sass/_mainstyle.scss */
  .wrapper footer .anchors_footer {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    display: flex;
    display: -webkit-flex;
    -webkit-order: 1;
    order: 1;
  }
  /* line 897, ../sass/_mainstyle.scss */
  .wrapper footer .anchors_footer a {
    font-size: 12px;
    padding: 15px 7px;
    flex-basis: 25%;
    -webkit-flex-basis: 25%;
    text-align: center;
  }
  /* line 905, ../sass/_mainstyle.scss */
  .wrapper footer .social {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    -webkit-order: 2;
    order: 2;
    text-align: center;
  }
  /* line 911, ../sass/_mainstyle.scss */
  .wrapper footer .social a {
    margin: 0 20px 5px;
  }

  /* line 917, ../sass/_mainstyle.scss */
  .panel {
    display: none;
  }

  /* line 921, ../sass/_mainstyle.scss */
  .overlay dialog {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 5px;
  }
  /* line 926, ../sass/_mainstyle.scss */
  .overlay dialog .flex_container {
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
  }
  /* line 930, ../sass/_mainstyle.scss */
  .overlay dialog .flex_container img {
    max-height: 300px;
    margin: auto !important;
    display: inline-block;
  }
  /* line 936, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    -webkit-flex-wrap: wrap;
  }
  /* line 940, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .some_list {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  /* line 943, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .some_list input[type="radio"] {
    margin: 0 3px !important;
  }
  /* line 947, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .price {
    font-size: 14px;
    -webkit-flex: 1 0 50%;
    flex: 1 0 auto;
  }
  /* line 952, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .timer {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
  }
  /* line 955, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .timer .countdown {
    width: 60px;
  }
  /* line 957, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .timer .countdown .numbers {
    border: 1px outset lightgray;
    border-radius: 4px;
    padding: 2px;
    box-shadow: inset 0px 0px 3px 1px;
  }
  /* line 963, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .timer .countdown .numbers:before {
    top: 50%;
    height: 1px;
  }
  /* line 967, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .timer .countdown .countdownLabel {
    font-size: 10px;
  }
  /* line 971, ../sass/_mainstyle.scss */
  .overlay dialog .discount-container .timer span {
    font-size: 25px;
    line-height: 30px;
  }
}
