$color:black;
$h_bg: #2e2e2e;
$logo_bg: #7d7d7d;
$lightgray: #e2e2e2;
$darkgray: #363636;
$table_bg: #4b4b4b;

/*---------------GRID-----------------*/

$base-columns-amount: 16;
@for $i from 1 through $base-columns-amount {
    $minimum-column-width: 100% / $i;
    .grd-fill-column#{$i} {
        width: $minimum-column-width;
    }
}

@for $i from 1 through $base-columns-amount {
    $minimum-column-width: 100% / $base-columns-amount;
    .grd-step-column#{$i} {
        width: $minimum-column-width * $i
    }
}

.grd-row {
    font-size: 0;
}

[class*="grd-step-column"] {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    padding: 0 5px;
}


/*fixes pointers justifier tools*/

* {
    box-sizing: border-box
}

*:before,
*:after {
    box-sizing: inherit;
}

.pointer {
    cursor: pointer;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}

.clearfix {
    clear: both;
}

.m-justifier {
    text-align: justify;
}

.stretch {
    width: 100%;
    display: inline-block;
}

.img-mod {
    transition: all .25s ease-in-out;
    width: 100%;
    &:hover {
        transform: scale(1.03, 1.03);
        -webkit-transform: scale(1.03, 1.03);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.4);
    }
}


/*----------------------------------------*/

body {
    background: url("../img/bck.png") repeat;
    background-attachment: fixed;
}

h2 {
    padding-top:20px;
    padding-bottom:15px;
    font-size: 30px;
    margin: 0 0 15px 0;
    text-align: center;
    width: 100%;
}

p {
    margin: 0;
    line-height: 25px;
}

.wrapper {
    max-width: 900px;
    margin: 0 auto;
    box-shadow: 5px 0px 30px rgb(0, 0, 0);
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

.promo {
    padding: 10px 40px 20px 40px;
}


/*----------------------------------HEADER----------------------------*/

header {
    background: $h_bg;
    position: relative;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    .logo {
        position: absolute;
        top: 12px;
        left: 50px;
        background: $logo_bg;
        height: 75px;
        width: 165px;
        line-height: 70px;
        text-align: center;
        border-radius: 3px;
        box-shadow: 5px 5px 10px rgb(0, 0, 0);
        img {
            width: 150px;
            vertical-align: middle;
        }
    }
    .anchors_header {
        text-align: right;
        font-size: 0px;
        a {
            font-size: 16px;
            display: inline-block;
            color: $lightgray;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            padding: 20px;
            transition: background-color .2s ease-in-out;
            &:hover {
                background: #4c4c4c;
            }
        }
    }
}


/*----------------------------------HEADER2---------------------------*/

.header2 {
    padding-top:50px;
    display: flex;
    display: -webkit-flex;
    flex-wrap: wrap;
    padding-top: 20px;
    background: $darkgray;
    .header2_text {
        flex-basis: 50%;
        -webkit-flex-basis: 50%;
        flex-grow: 1;
        min-width: 300px;
        padding: 30px 10px 10px 10px;
        color: $lightgray;
        text-transform: uppercase;
        font-size: 18px;
        p {
            margin: 10px 0;
        }
    }
    .header2_img {
        flex-basis: 50%;
        -webkit-flex-basis: 50%;
        min-width: 50%;
        flex-grow: 1;
        margin: 0 auto;
        max-width: 80%;
    }
}


/*---------------------------------SLIDER----------------------------*/

.slider {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    background: $lightgray;
    color: $darkgray;
    text-align: center;
    .slider_container {
        display: flex;
        display: -webkit-flex;
        border-top: 2px solid $darkgray;
        padding-top: 15px;
        margin-top: 15px;
        .arrow {
            margin: auto;
            flex-basis: 4%;
            -webkit-flex-basis: 4%;
            display: block;
            transition: all .25s ease-in-out;
            text-decoration: none;
            text-align: center;
            &:hover {
                //				transform: scale(1.05, 1.05);
            }
            &:nth-child(1) {
                order: 1;
                -webkit-order: 1;
            }
            &:nth-child(2) {
                order: 3;
                -webkit-order: 3;
            }
            img {
                width: 100%;
                max-width: 25px;
                &:hover {
                    transform: scale(1.05, 1.05);
                    -webkit-transform: scale(1.05, 1.05);
                }
            }
        }
        .slide {
            flex-basis: 94%;
            -webkit-flex-basis: 94%;
            display: flex;
            display: -webkit-flex;
            flex-wrap: wrap;
            order: 2;
            -webkit-order: 2;
            display: inline-block;
            .item {
                min-width: 140px;
                width: 20%;
                text-decoration: none;
                vertical-align: top;
                text-align: center;
                display: inline-block;
                margin: 5px;
                img {
                    border-radius: 5px;
                    border: 1px solid lightgray;
                }
                figcaption {
                    color: $darkgray;
                    font-size: 12px;
                    font-weight: bold;
                    margin-top: 8px;
                    text-transform: uppercase;
                }
            }
        }
    }
    .pagination {
        text-align: center;
        cursor: default;
        .item {
            display: inline-block;
            background: url("../img/sprite21.png") no-repeat -129px -241px;
            width: 15px;
            height: 15px;
            margin-top: 5px;
            &.active {
                background: url("../img/sprite21.png") no-repeat 0px 0px;
                &:hover {
                    transform: none;
                    -webkit-transform: none;
                    cursor: default;
                }
            }
            &:hover {
                transform: scale(1.15, 1.15);
                -webkit-transform: scale(1.15, 1.15);
            }
        }
    }
}


/*--------------------------------CATALOG-----------------------------*/

.catalog {
    background: $darkgray;
    color: $lightgray;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    .table_container {
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
    }
    .catalog_image {
        flex-basis: 40%;
        -webkit-flex-basis: 40%;
        margin: 5px;
    }
    .catalog_table {
        flex-basis: 60%;
        -webkit-flex-basis: 60%;
        margin: 5px;
        flex-grow: 1;
        -webkit-flex-grow: 1;
        tr:nth-child(2n) {
            td {
                background-color: lighten($table_bg, 5%);
            }
        }
        td {
            width: 20px;
            text-align: center;
            background: $table_bg;
            font-size: 14px;
            padding: 7px;
            text-shadow: 2px 2px 3px black;
            &:first-child {
                text-align: left;
                width: 92%;
            }
            &.hover:hover {
                background-color: lighten($table_bg, 20%);
                transition: background-color .2s ease-in-out;
            }
        }
        .plus {
            color: #00ff00;
            font-weight: bold;
            font-size: 16px;
            width: 4%;
        }
        .minus {
            color: red;
            font-weight: bold;
            font-size: 16px;
            width: 4%;
        }
        .inactive {
            color: #828282;
            cursor: default;
        }
    }
    .table_pages {
        span {
            display: inline-block;
            text-align: left;
            background: $table_bg;
            font-size: 14px;
            color: $lightgray;
            text-decoration: none;
            padding: 10px;
            margin: 2px;
            margin-top: 5px;
            &:hover {
                background-color: lighten($table_bg, 20%);
                transition: background-color .2s ease-in-out;
            }
        }
        .active {
            background: lighten($table_bg, 25%);
            cursor: default;
            &:hover {
                background-color: lighten($table_bg, 25%);
            }
        }
    }
}


/*---------------------------------INFO-------------------------------*/

.info {
    background: $lightgray;
    color: $darkgray;
    text-align: justify;
    .leftimg {
        margin: 0 10px 0 0;
        width: 150px;
    }
    .rightimg {
        margin: 10px 0 0 10px;
        width: 200px;
        position: relative;
        .bigpic {
            width: 200px;
            &:hover {
                transform: scale(1.9, 1.9) translate(-48px, 0px);
                -webkit-transform: scale(1.9, 1.9) translate(-48px, 0px);
                box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.4);
            }
        }
        .pics {
            margin-top: 5px;
            line-height: 0;
            .pic1,
            .pic2,
            .pic3 {
                display: inline-block;
                width: 60px;
                img {
                    width: 60px;
                    &:hover {
                        box-shadow: 2px 2px 2px 0 black;
                    }
                    &:active {
                        transform: translate(2px, 2px);
                        -webkit-transform: translate(2px, 2px);
                        box-shadow: none;
                    }
                }
            }
        }
    }
}


/*--------------------------------CONTACT-----------------------------*/

.contact {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    background: $darkgray;
    color: $lightgray;
    padding-bottom:40px;
    .flex_container {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
    }
    .contact_form {
        -webkit-flex-basis: 55%;
        flex-basis: 55%;
        flex-grow: 1;
        -webkit-flex-grow: 1;
        background: $table_bg;
        font-size: 14px;
        padding: 5px 5px 10px 7px;
        box-shadow: 2px 2px 5px rgb(0, 0, 0);
        border-radius: 5px;
        margin: 0 10px 10px 0;
        .form_container {
            fieldset {
                border: 2px solid $lightgray;
                border-radius: 5px;
            }
            p {
                margin: 5px 0;
            }
            h3 {
                margin: 0;
            }
            .name {
                border-top: 2px solid $lightgray;
                padding: 5px 0 0 0;
            }
            .email {
                border-bottom: 2px solid $lightgray;
                padding: 5px 0;
            }
            .topic {
                margin: 5px 0 2px 0;
                border: none;
            }
            textarea {
                margin-bottom: 5px;
                resize: none;
            }
            .captcha {
                text-align: center;
                border-top: 2px solid $lightgray;
                padding-left: 5px;
                label {
                    letter-spacing: 5px;
                    font-weight: bold;
                }
            }
            .buttons_container {
                text-align: center;
                input[type="submit"],
                input[type="reset"] {
                    margin: 10px 0 0 5px;
                    display: inline-block;
                    width: 100px;
                    border: none;
                    background-color: darken($lightgray, 5%);
                    box-shadow: 2px 2px 0 0 black;
                    height: 20px;
                    outline: none;
                    transition: background-color .25s ease-in-out;
                    &:hover {
                        background-color: lighten($lightgray, 3%);
                    }
                    &:active {
                        transform: translate(2px, 2px);
                        -webkit-transform: translate(2px, 2px);
                        box-shadow: none;
                    }
                }
            }
        }
    }
    .map {
        height: 300px;
        min-width: 300px;
        color: black;
        margin: auto;
        .gmnoprint {
            display: none;
        }
    }
}


/*-------------------------------FOOTER-----------------------------*/

footer {
    background: $lightgray;
    color: $darkgray;
    padding-left: 40px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    .anchors_footer {
        flex-grow: 1;
        flex-basis: 80%;
        -webkit-flex-basis: 80%;
        font-size: 0px;
        text-align: right;
        padding: 0px;
        a {
            font-size: 16px;
            display: inline-block;
            color: $darkgray;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: bold;
            padding: 20px;
            transition: background-color .2s ease-in-out, color .2s ease-in-out;
            ;
            &:hover {
                background: #4c4c4c;
                color: $lightgray;
            }
        }
    }
    .social {
        margin-top: 3px;
        flex-basis: 20%;
        -webkit-flex-basis: 20%;
        a {
            display: inline-block;
            width: 50px;
            height: 51px;
        }
    }
}

$i:0;
@each $sprite in facebook,
twitter,
google {
    .#{$sprite} {
        background: url("../img/social.png") #{$i}px -0px no-repeat;
        &:hover {
            background: url("../img/social.png") #{$i}px -50px no-repeat;
        }
    }
    $i: $i - 50;
}


/*-----------------------------ADMIN PANEL---------------------------*/

.panel {
    position: fixed;
    top: 50%;
    width: 40px;
    height: 200px;
    background: #001fa7;
    margin-top: -100px;
    left: 0px;
    opacity: 0.97;
    transition-duration: 0.5s;
    &:hover {
        left: 400px;
    }
    .panel-label {
        position: absolute;
        width: 200px;
        height: 40px;
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        left: -80px;
        top: 80px;
        vertical-align: middle;
        line-height: 40px;
        color: white;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: bold;
        text-align: center;
        cursor: default;
        word-spacing: 5px;
    }
    .admin_Content {
        height: 400px;
        width: 400px;
        background: url("../img/bck.png") repeat;
        position: absolute;
        right: 40px;
        margin-top: -100px;
        box-shadow: 0px 0px 20px rgb(0, 0, 0);
        .discount_form {
            margin: 10px;
            legend {
                color: white;
                font-weight: bold;
            }
            .dmy {
                .date {
                    width: 100px;
                    display: inline-block;
                }
            }
            .adm_button {
                width: 100%;
            }
        }
    }
}


/*--------------------------------OVERLAY------------------------------*/

.overlay {
    display: none;
    /**/
    background: url("../img/overlay.png");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    text-align: justify;
    color: $darkgray;
    .leftimg {
        margin: 0 5px 0 0;
        width: 300px;
    }
    dialog {
        display: block;
        background: white;
        width: 800px;
        top: 50%;
        left:50%;
        transform: translateY(-50%) translateX(-50%);
        -webkit-transform: translateY(-50%) translateX(-50%);
        position: fixed;
        padding: 25px;
        .cross {
            position: absolute;
            right: 0;
            top: 0;
            outline: 1px solid black;
        }
    }
    .discount-container {
        margin-top: 20px;
        display: flex;
        display: -webkit-flex;
        flex-direction: row;
        flex-wrap: wrap;
        .some_list {
            flex-basis: 25%;
            -webkit-flex-basis: 25%;
            margin-bottom: 10px;
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                white-space: nowrap;
            }
            input[type="radio"] {
                margin: 0 10px;
            }
        }
        .price {
            flex-basis: 25%;
            -webkit-flex-basis: 25%;
            display: flex;
            display: -webkit-flex;
            text-align: center;
            vertical-align: middle;
            background: $lightgray;
            border: 1px dotted black;
            text-transform: uppercase;
            margin-bottom: 10px;
            flex-grow: 1;
            span {
                margin: auto;
            }
        }
        .timer {
            flex-basis: 50%;
            -webkit-flex-basis: 50%;
            display: flex;
            display: -webkit-flex;
            margin: auto;
            justify-content: center;
            -webkit-justify-content: center;
            span {
                font-size: 33px;
                line-height: 33px;
                display: inline-block;
                position: relative;
            }
            .semicolon {
                width: 2%;
                padding: 0;
                margin: 5px 0;
                vertical-align: top;
            }
            .countdown {
                display: inline-block;
                text-align: center;
                width: 80px;
                .countdownLabel {
                    font-size: 12px;
                    line-height: 12px;
                }
                .numbers {
                    border: 3px outset lightgray;
                    border-radius: 4px;
                    padding: 5px;
                    box-shadow: inset 0px 0px 10px 1px;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        width: 100%;
                        left: 0;
                        top: 50%;
                        height: 2px;
                        background: rgba(255, 255, 255, 0.8);
                    }
                }
            }
        }
    }
}

/*--------------------------------go top------------------------------*/
.gotop{
    width:35px;
    height:35px;
    color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0,0,0,0.5);
    text-align: center;
    position: fixed;
    bottom:40px;
    right:20px;
    line-height:35px;
    font-size: 14px;
    cursor:pointer;
    display: none;
    &:hover{
        background-color:rgba(0,0,0,0.8);
    }
}

/*--------------------------------MEDIA 768px------------------------------*/

@media screen and (max-width: 768px) {
    .wrapper {
        .promo {
            padding: 10px;
        }
        header {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            .logo {
                position: static;
                display: block;
                width: 100%;
                box-shadow: none;
                border-radius: 0px;
                line-height: 60px;
                height: auto;
                img {
                    width: 130px;
                }
            }
            .anchors_header {
                display: flex;
                display: -webkit-flex;
//                flex-basis: 100%;
//                -webkit-flex-basis: 100%;
                a {
                    font-size: 12px;
                    padding: 15px 7px;
                    flex-basis: 25%;
                    -webkit-flex-basis: 25%;
                    text-align: center;
                }
            }
        }
        .header2 {
            padding: 5px;
            -webkit-flex-wrap: wrap;
            .header2_text {
                -webkit-flex: 1 0 auto;
                padding: 5px;
                margin: 0;
                font-size: 14px;
                max-width: 100%;
                
            }
            .header2_img {
                padding: 5px;
                min-width: 300px;
            }
        }
        .slider {
            .slider_container {
                .arrow{
                    &:nth-child(1) {
                        -webkit-flex-basis:25%;
                        text-align: right;
                    }
                    &:nth-child(2) {
                        -webkit-flex-basis:25%;
                        text-align: left;
                    }
                }
                .slide {
                    flex-basis: 0;
//                    -webkit-flex-basis: 0;
                    .item {
                        min-width: 160px;
                    }
                    .item:nth-child(2),
                    .item:nth-child(3),
                    .item:nth-child(4) {
                        display: none;
                    }
                }
            }
            .pagination {
                display: none;
            }
        }
        .catalog {
            .catalog_image {
                display: none;
            }
        }
        .contact {
            .map {
                max-width: 80%;
                flex-grow: 1;
                -webkit-flex-grow: 1;
            }
        }
        footer {
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            padding: 0;
            flex-wrap: wrap;
            -webkit-flex-wrap: wrap;
            .anchors_footer {
                flex-basis: 100%;
                -webkit-flex-basis: 100%;
                display: flex;
                display: -webkit-flex;
                -webkit-order: 1;
                order: 1;
                a {
                    font-size: 12px;
                    padding: 15px 7px;
                    flex-basis: 25%;
                    -webkit-flex-basis: 25%;
                    text-align: center;
                }
            }
            .social {
                flex-basis: 100%;
                -webkit-flex-basis: 100%;
                -webkit-order: 2;
                order: 2;
                text-align: center;
                a {
                    margin: 0 20px 5px;
                }
            }
        }
    }
    .panel {
        display: none;
    }
    .overlay {
        dialog {
            width: 100%;
            height: 100%;
            overflow: auto;
            padding: 5px;
            .flex_container {
                display: flex;
                display: -webkit-flex;
                flex-wrap: wrap;
                img {
                    max-height: 300px;
                    margin: auto !important;
                    display: inline-block;
                }
            }
            .discount-container {
                flex-basis: 100%;
                -webkit-flex-basis: 100%;
                -webkit-flex-wrap: wrap;
                .some_list {
                    -webkit-flex: 1 0 auto;
                    flex: 1 0 auto;
                    input[type="radio"] {
                        margin: 0 3px !important;
                    }
                }
                .price {
                    font-size: 14px;
                    -webkit-flex: 1 0 50%;
                    flex: 1 0 auto;
                }
                .timer {
                    -webkit-flex: 1 0 auto;
                    flex: 1 0 auto;
                    .countdown {
                        width: 60px;
                        .numbers {
                            border: 1px outset lightgray;
                            border-radius: 4px;
                            padding: 2px;
                            box-shadow: inset 0px 0px 3px 1px;
                        }
                        .numbers:before {
                            top: 50%;
                            height: 1px;
                        }
                        .countdownLabel {
                            font-size: 10px;
                        }
                    }
                    span {
                        font-size: 25px;
                        line-height: 30px;
                    }
                }
            }
        }
    }
}